* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --text: 1.45rem;
    --head: calc(6rem);
    --bg-color: #4cd137;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('./burgerking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem;
    animation: slide 1s ease-in-out;
}

.Hero-Section {
    min-height: 100vh;
    background: linear-gradient(black,transparent);
}
@keyframes slide{
    from{
        transform: translateX(-100%);   
    }to{ 
        transform:translateX(-0%) ;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    color:white;
}

.navbar ul {
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar ul li {
    display: inline-block;
    margin-left:3rem;
    font-size: var(--text);
}

a {
    text-decoration: none;
    color: white;
}

.hero-text {
    color:white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text a {
    color: white;
    background: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.8rem 1rem;
}
.hero-text h2 {
    font-size: var(--head);
}

.hero-text p {
    font-size: 3rem;
}

